---
import PaymentCard from "@/components/paymentcard";
import Welcome from "@/components/welcome.astro";
import "@/styles/globals.css";
import type { Payment as PaymentType } from "@/types/db";
import { Categories, db, desc, eq, Payments } from "astro:db";
import Layout from "../layouts/Layout.astro";
import { Cards } from "astro:db";
import { getUserPaychecks } from "@/service/queries";

const userId = String(Astro.locals.auth().userId);
if (!userId) {
    return;
}
const payments = await db
    .select()
    .from(Payments)
    .where(eq(Payments.userId, userId))
    .orderBy(desc(Payments.date));

const categories = await db.select().from(Categories).all();
const cards = await db.select().from(Cards).where(eq(Cards.userId, userId));
const paychecks = await getUserPaychecks(userId);
---

<Layout title="spent">
    <div class="space-y-4 w-full flex items-center justify-center flex-col">
        <Welcome
            userId={userId}
            paychecks={paychecks}
            payments={payments}
            categories={categories}
            cards={cards}
        />
        <div class="w-full flex flex-col gap-4">
            <h2 class="w-full font-semibold text-lg">Latest Purchases</h2>
            {
                payments.map((payment: PaymentType) => (
                    <PaymentCard payment={payment} client:only="solid-js" />
                ))
            }
        </div>
    </div>
</Layout>
