---
import "@/styles/globals.css";
import type { Paycheck, Transaction, Card, Category } from "@/types/db";
import PaycheckEntry from "./paycheckentry/paycheckentryhandler";
import TransactionButton from "./transactionentry/transactionbutton";
import { Button } from "./ui/button";
import CardEntry from "./cardentry/cardentry";
import CardEntryButton from "./cardentry/components/cardentrybutton";
import PaycheckEntryButton from "./paycheckentry/components/paycheckentrybutton";
import TransactionCard from "./transactioncard";

const { userId, payments, paychecks, categories, cards } = Astro.props;
const latestTransactions = payments.slice(0, 10);

const currentPaycheck = paychecks.find(
    (paycheck: Paycheck) =>
        new Date(paycheck.startDate) <= new Date() &&
        new Date(paycheck.endDate) >= new Date()
);
const total = payments
    .filter(
        (payment: Transaction) => payment.paycheckId === currentPaycheck?.id
    )
    .reduce((total: number, payment: Transaction) => total + payment.amount, 0);
const formatedTotal =
    (total < 0 ? "" : "+") +
    total.toLocaleString("en-US", {
        style: "currency",
        currency: "USD",
    });
---

<div class="w-full flex flex-col gap-4 items-start">
    {
        cards.length === 0 ? (
            <div class="flex flex-col gap-4 w-full">
                <h1 class="m-0 text-5xl font-bold ">No cards added</h1>
                <CardEntry userId={userId} categories={categories} client:load>
                    <Button>Add card</Button>
                </CardEntry>
            </div>
        ) : currentPaycheck ? (
            <div class="flex flex-col gap-6 w-full">
                <div class="flex justify-between w-full items-center">
                    <h1>{currentPaycheck.title}</h1>
                    <h1>
                        {new Date(currentPaycheck.startDate).toLocaleDateString(
                            "en-US",
                            {
                                month: "2-digit",
                                day: "2-digit",
                            }
                        )}{" "}
                        -{" "}
                        {new Date(currentPaycheck.endDate).toLocaleDateString(
                            "en-US",
                            {
                                month: "2-digit",
                                day: "2-digit",
                                year: "numeric",
                            }
                        )}
                    </h1>
                </div>
                <h1 class="m-0 text-5xl font-bold ">{formatedTotal}</h1>
                <div class="flex gap-4 ">
                    <TransactionButton
                        userId={userId}
                        cards={cards}
                        categories={categories}
                        paychecks={paychecks}
                        client:load
                    />
                    <CardEntryButton
                        userId={userId}
                        categories={categories}
                        client:load
                    />
                    <PaycheckEntryButton
                        userId={userId}
                        hasCards={cards.length > 0}
                        client:load
                    />
                </div>
            </div>
        ) : (
            <div class="flex flex-col gap-4">
                <h1 class="m-0 text-5xl font-bold ">
                    No paycheck for this cycle
                </h1>
                <PaycheckEntry
                    userId={userId}
                    hasCards={cards.length > 0}
                    buttonText="Add paycheck"
                    client:load
                >
                    <Button>Add paycheck</Button>
                </PaycheckEntry>
            </div>
        )
    }
    {
        latestTransactions.length > 0 && (
            <div class="flex flex-col gap-4 w-full mt-8">
                <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
                    Latest Transactions
                </h2>
                <div class="flex flex-col gap-4 w-full">
                    {latestTransactions.map((payment: Transaction) => {
                        const card = cards.find(
                            (c: Card) => c.id === payment.cardId
                        );
                        const category = categories.find(
                            (cat: Category) => cat.id === payment.categoryId
                        );
                        if (!card || !category) {
                            return null;
                        }
                        return (
                            <TransactionCard
                                payment={payment}
                                card={card}
                                category={category}
                            />
                        );
                    })}
                </div>
            </div>
        )
    }
</div>
